version: "3.8"
services:
  app:
    build: .

    environment:
      - DATABASE_URL=file:orders.db?cache=shared&_foreign_keys=on
      - REST_PORT=8080
      - GRPC_PORT=50051
      - GRAPHQL_PORT=8081
      
    ports:
      - "8080:8080"    # REST + GraphQL
      - "8081:8081"    # GraphQL
      - "50051:50051"  # gRPC
    volumes:
      - ./:/app
    command: ["./app"]
